*
{
  list-style: none;
  margin: 0; 
  padding: 0;
}

html, body, #map-canvas 
{ 
  height: 100%; 
}

.neighbor-list-wrapper
{
  position: fixed;
  top: 15px;
  left: 15px;
  width: 300px;
  background-color: white;
}

.neighbor-list-title
{
  padding: 10px 20px;
  font-size: 28px;
  border-bottom: 1px solid grey;
}

.search-bar
{
  font-size: 16px;
  width: 240px;
  padding: 2px 5px;
}

.neighbor-list
{
  height: 500px;
  overflow-y: auto;
}

.neighbor-list-item
{
  padding: 10px 20px 0;
}

.neighbor-list-item:hover
{
  background-color: lightgrey;
  cursor: pointer;
}

.neighbor-name
{
  font-weight: bold;
}

.infowindow
{
  overflow: hidden;
  white-space: nowrap;
}

.status
{
  padding: 20px;
  font-size: 24px;
  text-align: center;
  color: grey;
}

/* In devices of small screen width (600px), the list is not visible, leaving more space for the map */
@media (max-width: 600px) {
  .neighbor-list
  {
    display: none;
  }
}